/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #EEE;
}

nav {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  .navbar-brand {
    a {
      color: #B21;
      font-style: italic;
      font-family: cursive;
      font-weight: bolder;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#pins {
  margin: 0 auto;
  width: 100%;
  .box {
    text-align: center;
    margin: 10px;
    width: 300px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    img {
      max-width: 100%;
      height: auto;
    }
    h2 {
      font-size: 1.5em;
      margin: 0;
      padding: 10px 10px;
      a {
        color: #555;
      }
    }
    .user {
      font-size: 1em;
      border-top: 1px solid #EEE;
      padding: 5px;
      margin: 0;
    }
  }
}

#pin_show {
  text-align: center;
  margin: auto;
  width: 600px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  h2 {
    margin: 15px 0px 15px 0px;
  }
  .pin_image {
    img {
      max-width: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .panel-body {
    padding-bottom: 0px;
    .description {
      padding: 35px;
      color: #999;
      line-height: 1.75;
      margin: 0;
      font-size: 1.5em;
    }
    .user {
      font-size: 1em;
      border-top: 1px solid #EEE;
      padding: 5px;
      margin: 0;
    }
  }
  .panel-footer {
    padding: 20px 35px;
    p {
      margin: 0;
    }
  }
}

.alert-notice {
  @extend .alert-info;
}
